<div style="margin: 1em;">
<form>
    <mat-form-field style="width: 100%;">
        <mat-label>Nombre: </mat-label>
        <input matInput #nombre>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>País: </mat-label>
        <input matInput #pais>
    </mat-form-field>
    <mat-form-field style="width: 100%;">
        <mat-label>Ciudad: </mat-label>
        <input matInput #ciudad>
    </mat-form-field>
</form>
<button mat-raised-button color="primary" 
        (click)="guardarAeropuerto(nombre.value, pais.value, ciudad.value)">
        Guardar
</button>
</div>